@import "./variables.scss";

.register {
  padding: 50px;
  position: relative;
}

.frame--left {
  display: none;

  @media screen and (min-width: 700px) {
    display: inline-block;
    left: 0;
    position:absolute;
    top: 0;
    z-index: -1;
  }
}

.frame--top {
  display: inline-block;
  left: 0;
  position:absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  @media screen and (min-width: 700px) {
    display: none;
  }
}

.frame--right {
  display: none;

  @media screen and (min-width: 700px) {
    display: inline-block;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.text--helpers {
  color: #979797;
}

.register__nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 0 0 150px;

  @media screen and (min-width: 700px) {
    width: 15%;
  }
}

.nav__logo__container {
  padding: 0;
  width: 120px;

  @media screen and (min-width: 700px) {
    padding: 5%;
    width: 138px;
  }
}

.nav__logo {
  width: 100%;
}

.nav__button {
  color: $white;
  text-decoration: underline;
}