//Font
$mainFont: Poppins;

//Layout
$layoutSize: 960px;

//Colors
$black: #000;
$lightPurple: #8b1C63;
$orange: #ef5b37;
$pink: #bd385b;
$purple: #72146b;
$salmon: #ef5147;
$white: #fff;

//Gradients
$mainGradient: linear-gradient(135.76deg, #72146B 0%, #8B1C63 27.05%, #BD385B 47.92%, #EF5147 79.69%, #EF5B37 100%);

//Breakpoints
$large: 1367px;
$medium: 1025px;
